@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-themebg: #282828;
  --color-themetext: #fbf1c7;
}

@keyframes github-appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes github-colorize {
  from {
    background-color: var(--level0-color);
  }
  to {
    background-color: var(--actual-color);
  }
}

.animate-github-fill {
  opacity: 0;
  background-color: var(--level0-color);
}

[data-in-view="true"] .animate-github-fill {
  animation: 
    github-appear 0.3s ease-out forwards var(--appear-delay),
    github-colorize 0.4s ease-out forwards var(--color-delay);
}

@keyframes elevation-appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-in-view="true"] .animate-elevation {
  animation: elevation-appear 0.6s ease-out forwards;
}

.animate-elevation {
  opacity: 0;
  transform: translateY(20px);
}
